* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2.5rem;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 358px;
    height: 502px;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 8px;
    background-color: rgb(80, 80, 80);
}

.screen {
    width: 350px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.screen-number {
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    color: rgb(230, 230, 230);
}

button {
    border: 0;
    padding: 1px;
    margin:1px;
}


.line-one {
    float: left;
    margin: 0;
    height: 82px;
}

.line-two {
    float: left;
    margin: 0;
    height: 82px;
}

.line-three {
    float: left;
    margin: 0;
    height: 82px;
}

.line-four {
    float: left;
    margin: 0;
    height: 82px;
}

.line-five {
    float: left;
    margin: 0;
    height: 82px;
}

.top-btn {
    float: left;
    width: 87px;
    height: 80px;
    color: rgb(230, 230, 230);
    font-size: 22px;
    background-color: rgb(92, 92, 92);
}

.right-btn {
    float: right;
    width: 87px;
    height: 80px;
    color: rgb(230, 230, 230);
    font-size: 22px;
    background-color: rgb(239, 163, 58);
}

.number-btn {
    float: left;
    width: 87px;
    height: 80px;
    color: rgb(230, 230, 230);
    font-size: 22px;
    background-color: rgb(120, 120, 120);
}

.zero {
    float: left;
    width: 176px;
    height: 80px;
    color: rgb(230, 230, 230);
    font-size: 22px;
    background-color: rgb(120, 120, 120);
    border-bottom-left-radius: 8px;
}

.line-five .right-btn {
    border-bottom-right-radius: 8px;
}
